<f:layout name="Default" />

<f:section name="Content">
    <div class="cookie-button toggle-widget">
        <i class="icon action-settings">
            <f:translate id="widget.button"/>
        </i>
    </div>
    <div class="cookie-content-container">
        <div class="cookie-title">
            <f:translate id="widget.title"/>
        </div>
        <div class="cookie-content">
            <div class="cookie-message">
                {f:translate(id: 'widget.text') -> f:format.nl2br()}
            </div>
            <div class="cookie-muted muted"><f:translate id="widget.one_cookie"/></div>
        </div>
        <div class="cookie-toggler">
            <span class="cookie-toggles">
                <span class="cookie-toggle on"><f:translate id="widget.cookies.on"/></span>
                <span class="cookie-toggle off"><f:translate id="widget.cookies.off"/></span>
            </span>
        </div>
        <div class="close-widget toggle-widget">
            <i class="icon action-close"><f:translate id="widget.close"/></i>
        </div>
    </div>
    <script type="text/javascript">
        <f:render section="CallBacks" arguments="{callBacks: settings.callBacks}"/>
    </script>
</f:section>

<f:section name="CallBacks">
    <f:for each="{callBacks.enabled}" as="callback">
        KoningCookieControl.callBacks.enabled.push({callback});
    </f:for>

    <f:for each="{callBacks.disabled}" as="callback">
        KoningCookieControl.callBacks.disabled.push({callback});
    </f:for>

    KoningCookieControl.init();
</f:section>